@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color: lightblue;
  color: black;
  
}

.input {
  margin: 5rem;
  text-align: left;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
